@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

.header {
    position: absolute;
    width: 375px;
    height: 718px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    display: flex;
}
.nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 375px;
    height: 92px;
    left: 0px;
    top: 0px;
}
.nav a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070FF;
    margin-left: 24px;
}
.nav span {
    width: 28px;
    height: 92px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 36px;
}
.headline-section {
    background-image: url(./assets/images/header-shapes\ mobile.png);
    position: absolute;
    width: 462px;
    height: 587.15px;
    left: -34px;
    top: 104px;
}
